@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab&display=swap');

$primary: #022b3a;
$theme-colors: (
  "primary": $primary
);

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}