@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab&display=swap');

$light-primary: #022b3a;

.text-light-primary {
    color: $light-primary;
    border-color: $light-primary;
}

.roboto {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}