// Animations
@keyframes wave {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

@-webkit-keyframes wave {
    0% { -webkit-transform: rotate( 0.0deg) }
   10% { -webkit-transform: rotate(14.0deg) } 
   20% { -webkit-transform: rotate(-8.0deg) }
   30% { -webkit-transform: rotate(14.0deg) }
   40% { -webkit-transform: rotate(-4.0deg) }
   50% { -webkit-transform: rotate(10.0deg) }
   60% { -webkit-transform: rotate( 0.0deg) }  
  100% { -webkit-transform: rotate( 0.0deg) }
}

@-moz-keyframes wave {
    0% { -moz-transform: rotate( 0.0deg) }
   10% { -moz-transform: rotate(14.0deg) } 
   20% { -moz-transform: rotate(-8.0deg) }
   30% { -moz-transform: rotate(14.0deg) }
   40% { -moz-transform: rotate(-4.0deg) }
   50% { -moz-transform: rotate(10.0deg) }
   60% { -moz-transform: rotate( 0.0deg) }  
  100% { -moz-transform: rotate( 0.0deg) }
}

// Animation parameters
$wave-animation-name: wave;
$wave-duration: 2s;
$wave-delay: 0.75s;
$wave-timing: ease-in-out;

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: stretch;

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        order: 2;
        align-self: center;

        &__name {
            font-size: 48px;
            font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            font-weight: 500;
            text-align: center;
        }
    }

    &-hand {
        animation: $wave-animation-name $wave-duration $wave-timing $wave-delay;
        -webkit-animation: $wave-animation-name $wave-duration $wave-timing $wave-delay;
        -moz-animation: $wave-animation-name $wave-duration $wave-timing $wave-delay;
        font-size: 24px;
        transform-origin: 75% 75%;
        margin: 0 0 1rem 0;
    }
    
    &-social {
        display: flex;
    }

    &-social__button {
        margin: 0 .8rem;
    
        &:hover {
            background-color: $light-primary;
            border-color: transparent;
        }
    
        &:active {
            border: $light-primary;
        }
    }

    &-img {
        flex-grow: 1;
        min-height:33vh;
        -ms-flex-order:1;
        order:1;
        box-shadow: 0px 6px 20px 8px gray;
        background-size: cover;
        background-position: 40%;
        background-image: url($baseurl + "/assets/images/half-lg.jpg");
    }
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;

        &-hand {
            margin: 0 .8rem 0 0;
        }

        &-left {
            order: 1;
            min-width: 480px;
            max-width: 50%;
    
            &__name {
                margin-bottom: 0.8rem;
            }
    
            &__text {
                margin-bottom: 0.8rem;
            }
        }

        &-img {
            order: 2;
        }
    }
}